* {
    margin: 0px;
    padding: 0px;
}

.header {
    display: flex;
    background-color: rgb(50, 167, 145);
}

.trybewarts-header-logo {
    background-color: black;
}

.trybewarts-login {
    display: flex;
}